@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.about{
    width:100%;
    height:auto;
    margin:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    font-family: 'Roboto', sans-serif;
}
.about h2{
    margin:2rem 0;
    font-size: 4rem;
    color:#4054B2
    
}
.features{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
}
.features_div{
    width:15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin:0.5rem;
}
.features_num{
    width:3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d1d1;
    color: black;
    padding: 1rem;
    border-radius: 50%;
}
.features_num p{
    font-size:2rem;
}
.features_txt{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: #666769;
    text-align: center;
    
}
@media screen and (max-width:800px) {
    .about h2{
        font-size:3rem;
    }
    .features{
        flex-wrap: wrap;
        justify-content: space-around;
    }

}
@media screen and (max-width:553px){
    .about h2{
        font-size: 2rem;
        margin: 1rem 0.5rem;
        text-align: center;
    }
}
/* @media screen and (max-width:611px){
     .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: yellowgreen;
     }
     .features_div{
        width: 100%;
        padding:0.5rem;
        flex-direction: row;
        justify-content: flex-start;
        background-color: red;
     }
     .features_txt{
        padding:0.5rem;
       
     }
     .features_num{
        width:2rem;
        height: 2rem;
        
     }
     .features_num p{
        font-size: 1.3rem;
     }
} */
/* @media screen and(max-width:) {
    
} */