.contact-page{
    width:100%;
    height: auto;
    background-color: #ebf0f7;
    display: flex;
    flex-direction: column;
    margin:4rem 2rem 2rem 2rem;
}
.contact-page h2{
    margin:2rem auto;
    font-size: 2rem;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.contact-form{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:0 2rem;
}
.formMap{
    width: 60%;
    margin-right: 4rem;
}
.formInputs{
    width:80%;
    padding:0.5rem;
    border:none;
    outline:none;
    margin:0.5rem;
}
.contactSubmit{
    /* width:82.7%; */
    padding:0.5rem 1rem;
    border:none;
    outline:none;
    margin:0.5rem;
    background-color: #4054B2;
    color: white;
    border-radius: 2px;
}
.contactSubmit:hover{
    background-color: black;
}
.contacterror{
    font-size: 0.7rem;
    color: red;
    margin-left: 1rem;
    margin-top: -5px;
}
@media screen and (max-width:809px){
    .contact-page{
        margin: 4rem 0;
    }
    .contact{
        flex-direction: column;
    }
    .contact-form{
        width: 100%;
    }
    .formMap{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:439px){
    .contact-form{
        padding: 0 1rem;
        margin: auto
    }
}