@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.footer{
    width: 100%;
    /* background-color: rgb(187, 184, 184); */
    background-color: yellow;
    /* color: white; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
}
.footertxt{
    width:20rem;
    height: auto;
}
.footertxt p{
    margin-top: 1rem;
}

.footerOpt{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.links{
    text-decoration: none;
    color: black;
    margin-top: 0.5rem;
}
.footerContact h3{
     margin-top: 1rem;
}