@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.footer{
    width: 100%;
    /* background-color: rgb(187, 184, 184); */
    /* background-color: #4054B2; */
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
}
.footertxt{
    width:20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    color: white;
    font-size: 3rem;
}
.footertxt p{
    margin: 0.5rem;
    text-align: center;
}
.footertxt hr{
    width:100%;
    margin:0.5rem;
}
.footerOpt{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.links{
    text-decoration: none;
    color: white;
    margin-top: 0.5rem;
}
.footerContact h3{
     margin-top: 1rem;
}
@media screen and (max-width:348px) {
    .footertxt hr{
        width:90%;
    }
}