@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.rent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 4rem 0;
}
#h2{
     font-size: 3rem;
     margin: 1rem 0;
}
.rent p{
    /* color:#54595F */
    color: rgb(43, 42, 42);
}
.howSteps{
    width:100%;
    height: auto;
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    align-items: flex-start;
    margin:3rem 0;
}
.step1{
    width:300px;
    height:auto;
   background-color: white;
   position: relative;
}
.step1div{
    /* width: 100%;
    height: 100%; */
    background-color: #dfe2e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 45px;
}
.step1div h2,p{
    margin-top: 5px;
    /* margin-left:1rem; */
}
#num{
    background-color: #4054B2;
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top:20px;
    left: 20px;
}
#nump{
    font-size: 20px;
    color: white; 

}