@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.navbar{
    width:100%;
    height: auto;
    background-color: #4267b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding:0.5rem 0;
}
.navbar nav{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#search_bar{
    width: 20rem;
    padding:15px 5px;
    text-indent: 20px;
    outline: none;
    border: none;
    background-color: #F5F5F4;
    /* background-color: rgb(239, 236, 236); */
}
#search_bar:focus{
    background-color: white;
    /* box-shadow: -1px 1px 1px yellow; */
    
}

.search_field{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid yellow;
}
.search_field img{
    width:20px;
    height: 20px;
    background-color: yellow;
    padding:13px;

}
.search_field img:hover{
    width: 25px;
    padding:13px 10px;
  
}
.logo{
    color: white;
    font-size: 3rem;
    margin-left: 3rem;
}
.link{
    text-decoration: none;
    margin:0 1rem;
    color: white;
    transition: 0.09s all ease-in-out;
}
.link:hover{
    margin-bottom: 0.1rem;
    text-decoration: underline;
}
#offer{
    background-color: white;
    color:black;
    padding: 10px 15px;
    border-radius: 20px;
    margin:0 1rem;
    text-decoration: none;
}
#offer:hover{
    color:#4267b2;
}