.profile-page{
    background-color: white;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-page p{
    display: flex;
    /* align-self: flex-start; */
}
.ridesPage{
    background-color: #f0f2f5;
}
.show-all-rides{
    display: flex;

}
.nothing{
    /* background-color: green; */
    padding:1rem 8rem;
    cursor:pointer;
}
.requestedRide{
    background-color: #4054B2;
    color:white;
    padding:1rem 8rem;
    cursor:pointer;
}
@media screen and (max-width:746px) {
    .requestedRide{
        padding:1rem 5rem
    }
    .nothing{
        padding: 1rem 5rem;
    }
}
@media screen and (max-width:661px) {
    .requestedRide{
        padding:1rem 3rem
    }
    .nothing{
        padding: 1rem 3rem;
    }
}
@media screen and (max-width:426px) {
    .requestedRide{
        padding:1rem 2rem
    }
    .nothing{
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:365px) {
    .requestedRide{
        padding:1rem 1rem
    }
    .nothing{
        padding: 1rem 1rem;
    }
}