.profile-page{
    background-color: white;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-page p{
    display: flex;
    /* align-self: flex-start; */
}
.ridesPage{
    background-color: #f0f2f5;
}
.show-all-rides{
    display: flex;

}
.nothing{
    /* background-color: green; */
    padding:1rem 8rem;
    cursor:pointer;
}
.requestedRide{
    background-color: #4054B2;
    color:white;
    padding:1rem 8rem;
    cursor:pointer;
}
