@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.request{
    background-color: #f0f2f5;
    width:100%;
    height:auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding:1rem 0;
    margin-top: 4rem;
}

.requestTextArea{
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    margin-left: 2rem;
}
.requestTextArea h2{
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.requestTextArea p{
    font-size: 1.2rem;
}
.inputfields{
    display: flex;
    justify-content: center;
    align-items: center;
}
.requestSec{
    width:50%;
    height:100%;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}
.requestCar{
    background-color: white;
    width:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5rem 1rem;
    border-radius: 3rem;
    position: relative;
    margin-right: 2rem;
}
.requestCar h2{
    position: absolute;
    top:2rem;
}
.registerfield{
    box-shadow: 0.5px 0.5px 1px black;
    width:18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.registerfield input{
    width:15rem;
    margin:1rem auto;
    outline:none;
    border:none;

}
.pickup img{
    width:1.3rem;
    height:1.3rem;
    margin: 0 1rem;
}
.destination img{
    width: 1rem;
    height: 1rem;
    margin:0 1.2rem
}
.throwerror{
    color: red;
    margin-left: 2rem;
    font-size: 0.8rem;
    margin-top: -0.3rem;
    margin-bottom: 0.4rem;
}
.submits{
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    padding:1rem 0;
    border: none;
    background-color: black;
    color: white;
}
.submits:hover{
    background-color: #4054B2;
}
.unsuccessful-msg{
    width:100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color:red; */
    overflow: hidden;
    /* color:white; */
}
.unsuccessful-msg p{
    display: flex;
    background-color: rgb(217, 5, 5);
    color: white;
    padding:1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    z-index: 99;
}
.loading{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1046px) {
    .requestTextArea{
        margin-left: 1rem;
    }
    .requestTextArea h2{
        font-size: 3.5rem;
    }
    .requestTextArea p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:743px){
    .requestTextArea{
        width:45%;
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
    }
    .requestTextArea h2{
        font-size: 3rem;
    }
    .requestTextArea p{
        font-size: 0.6rem;
    }
    .requestSec{
        width: 55%;
    }
}
@media screen and (max-width:643px) {
    .request{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("./images/mobilebg.jpg");
        background-size: cover;
    }
    .requestTextArea{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .requestTextArea h2{
        font-size: 1.5rem;
        padding: 0.3rem 0.5rem;
        margin-bottom: -0.5rem;
        text-align: center;
    }
    .requestTextArea p{
        /* margin-top: -1rem; */
        color:rgb(90, 89, 89);
    }
    .requestSec{
        width:95%;
        background:transparent;
    }
    .requestCar{
        margin-right: 0;
    }
}