body{
    background-color: #f0f2f5;
}
.showRides{
    width:80%;
    margin:0 auto;
    padding:1rem;
    background-color: #f0f2f5;
}
.showRides h2{
    font-size: 3rem;

}
.rides-filter{
    width: 25%;
    background-color: white;
    margin: 1rem 0;
    padding:1rem;
    position: relative;
}
.vehicleFilter h4{
    font-size: 1.1rem;
    color:black;
    margin:0.5rem;

}
.vehicleFilter input{
    margin:0.5rem;
}
.priceFilter h4{
    font-size: 1.1rem;
    color: black;
    margin:0.5rem;
}
.priceFilter input{
    margin:0.5rem;
}
.displayRide{
    display: flex;
}
.ride-display{
    width:70%;
    height: 30rem;
    margin-top: 1rem;
}
#submit{
    padding:1rem;
    border:none;
    background-color: brown;
    color:white;
    position: absolute;
    bottom:0;
    margin:1rem
}
.hide{
    display: none;
}