@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.team{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 2rem 1rem 0 1rem;
    padding: 3rem 0;
}
#agents{
    margin:2rem 0;
    font-size: 4rem;
    color:#4054B2;

}
.team-opt{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (max-width:481px) {
    .team{
        margin-top: 1rem;
    }
    #agents{
        font-size: 2.7rem;
    }
}
@media screen and (max-width:333px){
    #agents{
        font-size: 2.4rem;
    }
} 